In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [4]:
gdp_df = pd.read_csv("../data/gdp_percapita.csv.csv")

In [6]:
internet_df = pd.read_csv("../data/internet_use.csv.csv", nrows = 4496)

7. Look at the shape of each DataFrame - how many rows? How many columns

In [39]:
row_count = len(gdp_df)
column_count = gdp_df.shape
row_row = len(internet_df)
col_umn = internet_df.shape
print("info for gdp")
print( row_count)
print(column_count)
print("info for internet")
print(row_row)
print(col_umn)

info for gdp
6870
(6870, 3)
info for internet
4496
(4496, 4)

8. Take a look at the datatypes for the columns in each DataFrame.

In [46]:
#first run a test to see what the columns are actually called. 
#print(gdp_df)
#print(internet_df)
#then use a hashtag to comment out the print() and type the columns
#internet_df.columns = [c.replace(' ', '_') for c in internet_df.columns]
type(gdp_df.Country_or_Area)
type(gdp_df.Year)
type(gdp_df.Value)

type(internet_df.Country_or_Area)
type(internet_df.Year)
type(internet_df.Value)

pandas.core.series.Series

9. Take a look at the last 10 rows of each DataFrame in turn.

In [47]:
gdp_df.tail(10) #start at the head or start at the tail?
internet_df.tail(10)

     Country_or_Area      Year     Value  Value_Footnotes
4486        Zimbabwe      2001  0.799846              NaN
4487        Zimbabwe      2000  0.401434              NaN
4488        Zimbabwe      1999  0.161676              NaN
4489        Zimbabwe      1998  0.081648              NaN
4490        Zimbabwe      1997  0.033080              NaN
4491        Zimbabwe      1996  0.016790              NaN
4492        Zimbabwe      1995  0.007684              NaN
4493        Zimbabwe      1994  0.001739              NaN
4494        Zimbabwe      1990  0.000000              NaN
4495   footnoteSeqID  Footnote       NaN              NaN

10. Drop the value footnotes column from both DataFrames. Check that this worked as expected.

In [51]:
#del gdp_df['Value_Footnotes']
#gdp_df.head(10)
#had a bit of difficulty with this one as I initially attempted gdp_df.pop() and gdp_df.drop(['Value_Footnotes'])
del internet_df['Value_Footnotes']
internet_df.head(3)
#it's easier to comment out one group rathe than run two

  Country_or_Area  Year     Value
0     Afghanistan  2014  6.390000
1     Afghanistan  2013  5.900000
2     Afghanistan  2012  5.454545

11. Change the columns for the GDP Per Capita DataFrame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’.

In [57]:
gdp_df.columns = ['Country', 'Year', 'GDP_Per_Capita']
print(gdp_df)

            Country                                      Year  GDP_Per_Capita
0       Afghanistan                                      2019     2065.036398
1       Afghanistan                                      2018     2033.779002
2       Afghanistan                                      2017     2058.383832
3       Afghanistan                                      2016     2057.062164
4       Afghanistan                                      2015     2068.265904
...             ...                                       ...             ...
6865       Zimbabwe                                      1992     3054.889178
6866       Zimbabwe                                      1991     3426.598094
6867       Zimbabwe                                      1990     3324.348171
6868  footnoteSeqID                                  Footnote             NaN
6869              2  Excludes South Sudan after July 9, 2011.             NaN

[6870 rows x 3 columns]

12. Change the columns for the Internet Users DataFrame to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’.

In [58]:
internet_df.columns = ['Country', 'Year', 'Internet_Users_Pct']
print(internet_df)

            Country      Year  Internet_Users_Pct
0       Afghanistan      2014            6.390000
1       Afghanistan      2013            5.900000
2       Afghanistan      2012            5.454545
3       Afghanistan      2011            5.000000
4       Afghanistan      2010            4.000000
...             ...       ...                 ...
4491       Zimbabwe      1996            0.016790
4492       Zimbabwe      1995            0.007684
4493       Zimbabwe      1994            0.001739
4494       Zimbabwe      1990            0.000000
4495  footnoteSeqID  Footnote                 NaN

[4496 rows x 3 columns]

13. Merge the two DataFrames to one. Merge all rows from each of the two DataFrames. Call the new DataFrame gdp_and_internet_use.